.gameContainer {
  position: relative;
  width: 530px;
  height: 533px;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 31%;
  border: solid 1px black;
  border-radius: 50%;
  background-color: grey;
}
.fourButton {
  position: absolute;
  width: 234px;
  height: 236px;
  margin: 20px;
}
  .fourButton:active {
    opacity: .5;
  }
  .activated {
    opacity: .5;
  }
  #green {
      top:0;
      left:0;
      background-color:green;
      border-radius:100% 0 0 0;
  }
  #red {
      top:0;
      right:0;
      background-color:red;
      border-radius:0 100% 0 0 ;
  }
  #yellow {
      bottom:0;
      left:0;
      background-color:yellow;
      border-radius:0 0 0 100%;
  }
  #blue {
      bottom:0;
      right:0;
      background-color:blue;
      border-radius:0 0 100% 0 ;
  }
  #center {
    position: absolute;
    background-color: white;
    border: 20px solid grey;
    width: 179px;
    height: 178px;
    top: 148px;
    left: 158px;
    border-radius: 50%;
}
 
  #circle {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 50%;
    background-color: #d3d3d3; /* Background color for the circle */
}
  #textTitle {
    height: 70px;
    line-height: 115px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: 'Courier New';
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    top: 53%;
    left: 48%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    z-index: 2;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* background-image: url('2.jpg'); Replace 'background_image.jpg' with your background image */
  background-size: cover;
  z-index: -1; /* Place the background behind other elements */
}
.username {
  background-color: #336699; /* Color for the username background */
  color: white;
  padding: 10px;
  text-align: center;
}


#play {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #82e649; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20%;
  margin-top: 8%
}
.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.footer button {
  background-color: #336699; /* Button background color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
/* Add this CSS to define the glowing effect */
.fourButton {
  box-shadow: 0 0 10px #fff; /* White shadow */
  transition: box-shadow 0.5s ease-in-out; /* Smooth transition for the shadow */
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#zikok {
  position: fixed;
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    background-size: cover;
    /* z-index: -1; */
}
#first{
  background-color: lime;
  width: 100%;
  height: 11%;
  position: absolute;
  margin-top: -45%;
  margin-right: 1.5px;
  z-index: 1;
}
#head{
  display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 96%;
    margin-right: 3%;
    margin-top: -41.5%;
}
#logo{
  width: 96%;
  position: absolute;   
  z-index: 3;
}
#logo2{
  width: 12%;
  margin-right: 90%;
  margin-top: -4.5%;
}
