body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    background-color: rgb(94 237 59);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    margin-bottom: 20px;
    color: #ffffff;
}
.score {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(243, 243, 243);
}
/* .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
}
.button:hover {
    background-color: #45a049;
} */